body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 30px;
  }
  
  .form-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h3 {
    margin-bottom: 15px;
    color: #0056b3;
    font-size: 1.2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #0b1770;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buttons {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #flightsList {
    margin-top: 10px;
  }
  
  p {
    color: #28a745;
    font-size: 0.9em;
    margin-top: 10px;
  }
  
  